# Скопировать в .env и заполнить
# cp .env.example .env

# Секрет для подписи JWT-токенов. Сгенерировать:
#   openssl rand -hex 32
JWT_SECRET=

# Домен (используется и Caddy, и для autoTLS)
DOMAIN=sinnybytommy.ru

# E-mail для регистрации в Let's Encrypt (на него приходят уведомления о сроке действия cert)
ACME_EMAIL=admin@sinnybytommy.ru
